/* ----------------
    SITE STYLE
---------------- */
section {
    margin-bottom: 1.5625rem;
}
.box {
    font-size: .875rem;
    background-color: #006cfa;
    padding: .9375rem;
    text-align: center;
    color: white;
    border: 1px solid white;
}
.box__green {
    background-color: #00e165;
    border: 1px solid #006cfa;
    padding: .9375rem;
}