/* -------------
    RESET
-------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -------------
    COMMON
-------------- */
.container {
    max-width: 75rem;
    margin: auto;
}
body {
    color: white;
    font-family: 'Silkscreen', cursive;
}
h1 {
    font-size: .9375rem;
}