@import url(col-46.css);
@import url(reset-common.css);

/* --------------
    UTILITY
-------------- */
.row {
    display: flex;
    flex-wrap: wrap;
}
/* --------------
    STYLE PAGE
-------------- */
.box__black {
    height: .9375rem;
    background-color: black;
    text-align: center;
}
.box__white {
    height: .9375rem;
    background-color: white;
}
.box__brown {
    height: .9375rem;
    background-color: brown;
}
.mini-container {
    position: relative;
}
.mini-container h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 2.25rem;
}

@media screen and (max-width: 992px) {
    .mini-container h1 {
        font-size: 1.875rem;
    }
}